<div class="container">
  <div class="row">
    <div class="col-12 ">
      <div class="card card-header text-white bg-primary">
        <h1>
          Catalogue des PFE ESSAT
        </h1>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 15px;">
    <div class="col-md-2 ">

      <button routerLink="add" type="button" class="btn btn-danger">Ajouter PFE</button>

    </div>




    <div class="col-md-3 ">
      <input class="form-control mr-sm-2" [(ngModel)]="titre" type="search" placeholder="Titre du Pfe a chercher"
        aria-label="Search">
    </div>

    <div class="col-md-2 ">
      <button type="button" (click)="recherche()" class="btn btn-primary">cherche un PFE</button>
    </div>
  </div>






  <div class="row" style="margin-top: 50px;">

    <div class="col-md-3">
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action active">
          Tous les PFEs
          <span class="badge badge-warning badge-pill">{{count}}</span>
        </a>
        <tr *ngFor="let t of types ">
          <a routerLink="/typepfe/{{t.id}}"   class="list-group-item list-group-item-action">{{t.nom}}
            <span class="badge badge-info badge-pill">{{cou}}</span>
          </a>
        </tr>
      </div>
    </div>

    <div class="col-md-9">

      <router-outlet></router-outlet>


    </div>
  </div>
</div>