<div class="card card-header text-white bg-success">

  <h6>
    Liste des PFEs
  </h6>
</div>
<table class="table table-bordered">

  <thead>

    <tr class="table-active">
      <th scope="col">ID</th>
      <th scope="col">Titre</th>
      <th scope="col">Type</th>
      <th scope="col">ACTION</th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let p of pfes ">
      <th scope="row">{{p.id}}</th>
      <td>{{p.titre}}</td>
      <td>{{p.type.nom}}</td>
      <td><button (click)="delete(p.id)" class="btn btn-danger">Delete</button></td>
    </tr>

  </tbody>
</table>